@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:"Inter",sans-serif;
background:#0B0B0B;
color:white;
overflow-x:hidden;
}

a{
text-decoration:none;
}

img{
max-width:100%;
display:block;
}

section{
padding:110px 8%;
}

::selection{
background:#3B82F6;
color:white;
}

::-webkit-scrollbar{
width:10px;
}

::-webkit-scrollbar-track{
background:#0b0b0b;
}

::-webkit-scrollbar-thumb{
background:#3B82F6;
border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
background:#2563EB;
}